header {
    background-color: darkgray;
    padding: 20px 0;
}

.container {
    position: relative;
    /* Largura padrão para dar uma boa margem */
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    /* Usado para deixar o texto em maiúsculo */
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}